* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #2762a5;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #fff;
    margin-bottom: 15px;
    text-align: center;
}


.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(47, 127, 218, 0.541);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.tarjeta {
    background-color: white;
    padding: 25px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px 0;
    justify-content: center;
}

nav li {
    display: inline-block;
}

.estiloLinks {
    color: white;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    transition: transform 0.2s;
}

.estiloLinks:hover {
    transform: scale(1.1);
}

@keyframes bop {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

.centrarFoto {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.centrarFoto:hover {
    animation: bop 0.5s ease;
}


.gato {
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.gato:hover {
    animation: bop 0.5s ease;
}


